<h1>All the books available from your community</h1>

<form action="/all-books/available/filter" method="get">
 <input type="text" placeholder="search by title or author" name="search">
        <button type="submit"> filter</button></form>

{{> displayBooks }}

