<div id="toolbar">

  <h3><a href="/dashboard/my-library">My library </a><span
    >({{stats.nbAllBooks}})</span></h3>
  <h3><a href="/dashboard/my-borrowed-books">Books that i have </a><span
    >({{stats.nbBorrowedBooks}})</span></h3>
  <h3><a href="/dashboard/wishlist">My wishlist </a><span
    >({{stats.nbWishlistBooks}})</span></h3>
</div>