<div id ="toolbar" >
    
    <h3><a href="/dashboard/my-library">My library</a><span>{{ @root.nbAllBooks }}</span></h3>
  
    <h3><a href="/dashboard/my-borrowed-books">Books that i have</a></h3> 
    <h3><a href="/dashboard/wishlist">My wishlist</a></h3> 
</div>