<div class="toolbar">
    {{> toolbar }}
</div>

<div class="dashboard-books-container">

    <h1>The books I am borrowing at the moment</h1>

    <div class="dashboard-msg">

        {{#unless borrowings.length}}
            <p>You are not borrowing any books!</p>
            <a class="dashboard-link" href="/all-books">Borrow a book</a>
        {{else}}
            <a class="dashboard-link" href="/all-books">Borrow another book</a>
        {{/unless}}
    
    </div>

    <ul>
    {{#each borrowings}}
        <li class="one-book">
            <img src="{{book.image}}" alt="book image" width = "200px">
            
            <div class="one-book-info">  
                <h4>{{book.title}}</h4>
                <h4>by {{book.author}}</h4>
            </div>
        </li>
    {{/each}}
    </ul>

</div>