<h1>Dashboard</h1>

<div>
<h3><a href="/dashboard/my-library">My library : </a></h3>
{{#unless stats.nbAllBooks}}
<p>You don't have any books in your library.</p>

{{/unless}}

{{!-- {{stats.nbLendedBooks}} --}}
{{#isEqual stats.nbAllBooks stats.nbLendedBooks}}
{{/isEqual}}

<a href="/dashboard/create-book">Add a book</a>
</div>

<div>
   <h3><a href="/dashboard/my-borrowed-books">Books that i have :</a></h3> 


       {{#unless stats.nbBorrowedBooks}}
<p>Currently, you don't borrow any books.</p>
<a href="/all-books">Borrow a book</a>
{{/unless}}

{{#isEqualBorrowed stats.nbBorrowedBooks}}
{{/isEqualBorrowed}}
<a href="/all-books">Borrow another book</a>
</div>

<div>
   <h3><a href="/dashboard/wishlist">My wishlist:</a></h3> 
   
   {{#unless stats.nbWishlistBooks}}
<p>You don't have any books in your wishlist.</p>
{{/unless}}

{{#isEqualWishlist stats.nbWishlistBooks}}
{{/isEqualWishlist}}
<a href="/all-books">Add a book to my wishlist</a>
</div>
