<div id="dashboard-section">
  <h1 class="love" >Dashboard</h1>

  <div>
    <h3><a href="/dashboard/my-library">My library : </a></h3>
    {{#unless stats.nbAllBooks}}
      <p>You don't have any books in your library.</p>
    {{/unless}}

   
    {{#isEqual stats.nbAllBooks stats.nbLendedBooks}}{{/isEqual}}
  </div>

  <div class="books-that-i-have">
    <h3><a href="/dashboard/my-borrowed-books">Books that i have :</a></h3>

    {{#unless stats.nbBorrowedBooks}}
      <p>Currently, you don't borrow any books.</p>
    {{/unless}}

    {{#isEqualBorrowed stats.nbBorrowedBooks}}{{/isEqualBorrowed}}

  </div>

  <div>
    <h3><a href="/dashboard/wishlist">My wishlist:</a></h3>

    {{#unless stats.nbWishlistBooks}}
      <p>You don't have any books in your wishlist.</p>
    {{/unless}}

    {{#isEqualWishlist stats.nbWishlistBooks}}{{/isEqualWishlist}}
  </div>

</div>
