
<h1 id="dashboard">Dashboard</h1>

<div id="dashboard-section">
  

  <div>
    <h3 class="titles-dashboard bounce-top"><a href="/dashboard/my-library">My library  </a></h3>
    {{#unless stats.nbAllBooks}}
      <p>You don't have any books in your library.</p>
    {{/unless}}

   
    {{#isEqual stats.nbAllBooks stats.nbLendedBooks}}{{/isEqual}}
    <p class="adding-buttons jello-horizontal"><a href="/dashboard/create-book">Add a book</a></p>
  </div>

  <div class="books-that-i-have">
    <h3 class="titles-dashboard bounce-top"><a href="/dashboard/my-borrowed-books">Books that i have </a></h3>

    {{#unless stats.nbBorrowedBooks}}
      <p>Currently, you don't borrow any books.</p>
    {{/unless}}

    {{#isEqualBorrowed stats.nbBorrowedBooks}}{{/isEqualBorrowed}}

     <p class="adding-buttons jello-horizontal"><a href="/all-books">Borrow a book</a></p>
  </div>

  <div>
    <h3 class="titles-dashboard bounce-top"><a href="/dashboard/wishlist">My wishlist</a></h3>

    {{#unless stats.nbWishlistBooks}}
      <p>You don't have any books in your wishlist.</p>
    {{/unless}}

    {{#isEqualWishlist stats.nbWishlistBooks}}{{/isEqualWishlist}}

    <p class="adding-buttons jello-horizontal"><a href="/all-books">Add a book to my wishlist</a></p>
  </div>

</div>
