<h1>Dashboard</h1>

<div>
<h3><a href="/dashboard/my-library">My library : </a><span> (You have {{nbAllBooks}} book(s))</span></h3>

</div>

<div>
   <h3><a href="/dashboard/my-borrowed-books">Books that i have :</a><span> (You are borrowing {{nbBorrowedBooks}} book(s))</span></h3> 
    

</div>

<div>
   <h3><a href="/dashboard/wishlist">My wishlist:</a><span> (You have {{nbWishlistBooks}} book(s) in your wishlist)</span></h3> 
  
</div>
