<h1>Dashboard</h1>

<div>
<h3><a href="/dashboard/my-library">My library : </a></h3>
<p>You have {{stats.nbAllBooks}} book(s), among which {{stats.nbLendedBooks}} are currently lended.</p>
</div>

<div>
   <h3><a href="/dashboard/my-borrowed-books">Books that i have :</a></h3> 
    <p>You are borrowing {{stats.nbBorrowedBooks}} book(s).</p>

</div>

<div>
   <h3><a href="/dashboard/wishlist">My wishlist:</a></h3> 
   <p>You have {{stats.nbWishlistBooks}} book(s) in your wishlist.</p>
</div>
