<h1>Dashboard</h1>

<div>
<h3>My library :</h3>
<p><a href="/dashboard/my-library">Every Book</a></p>
<p><a href="/dashboard/lended-library">Lended</a></p>
<p>You have {{nbAllBooks}} book(s), among which {{nbLendedBooks}} are currently lended.</p>
</div>

<div>
   <h3>Books that i have :</h3> 
    <p><a href="/dashboard/my-borrowed-books">Borrowed</a></p>
    <p>You are borrowing {{nbBorrowedBooks}} book(s).</p>

</div>

<div>
   <h3>My wishlist:</h3> 
   <p><a href="/dashboard/wishlist">wishlist</a></p>
   <p>You have {{nbWishlistBooks}} book(s) in your wishlist.</p>
</div>
