<h1>Dashboard</h1>

<div>
<h3>My library :</h3>
<p><a href="/dashboard/my-library">Every Book</a></p>
<p><a href="/dashboard/lended-library">Lended</a></p>
</div>

<div>
   <h3>My wishlist:</h3> 
   <p><a href="/dashboard/wishlist">wishlist</a></p>
</div>
