<h1>Navigation</h1>

<div>
<h3>Ma bibliothèque de livres :</h3>
<p><a href="/dashboard/my-library">Tous</a></p>
<p><a href="/dashboard/lended">Enpruntés</a></p>
</div>

<div>
   <h3>Les livres que j’emprunte en ce moment :</h3> 
</div>

<div>
   <h3>Ma wishlist:</h3> 
</div>
