<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/mod.message.css" />
    <link rel="stylesheet" href="/stylesheets/vars.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    ></script>
    <link rel="stylesheet" href="/stylesheets/{{cssTitle}}.css" />

  </head>
  <body>
    <nav id="nav-main">
      <a href="/">Home</a>
      <a class="how-does-it-work" href="/about">How does it work ?</a>
      {{#unless currentUser}}
        <a href="/all-books">All books</a>
        <a id="signin" href="/auth/signin">Signup or Login</a>
      {{else}}
        <a class="all-books" href="/all-books">All books</a>
        <a class="my-dashboard" href="/dashboard">My dashboard</a>
        {{#if wishlist}}
          <a class="my-wishlist" href="/dashboard/wishlist"> <i class="fas fa-heart"></i> My wishlist</a>
        {{/if}}
        <a href="/auth/signout">Signout</a>
      {{/unless}}
    </nav>
    {{{body}}}
  </body>
</html>