<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/mod.message.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    ></script>
    <script type="module" src="scripts/all-books.js"></script>
  </head>
  <body>
    <nav id="nav-main">
      <a href="/">home</a>
      <span>|</span>
      <a href="/about">How does it work ?</a>
        <span>|</span>
      {{#unless currentUser}}
       <a href="/all-books">all books</a>
        <span>|</span>
        <a href="/auth/signin">signup or login</a>
        <span>|</span>
      
       
        {{else}}
         <a href="/all-books">all books</a>
        <span>|</span>
        <a href="/dashboard">my dashboard</a>
        {{#if wishlist}}
        <span>|</span>
        <a href="/dashboard/wishlist"><i class="fas fa-heart"> </i> My wishlist</a>
        {{/if}}
        <span>|</span>
        
        <a href="/auth/signout">signout</a>
      {{/unless}}
    </nav>

    {{{body}}}
  </body>
</html>