@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
}

body {
  background-color: #d9c8a0;
  position: relative;
  top: 12vh;
}

#nav-main {
  height: 12vh;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 60px;
  background-color: var(--dark-color);
  justify-content: flex-end;
  font-size: var(--font-size-xs);
  position: fixed;
  top: 0;
  color: var(--third-color);
  width: 100%;
  z-index: 3;
}

#nav-main > a {
  color: var(--third-color);
  text-decoration: none;
  padding: 2px;
}

#nav-main > a:hover {
  text-decoration: underline var(--third-color);
  font-weight: bolder;
}

#nav-main > .how-does-it-work {
  margin: 0px 50px;
  letter-spacing: 1px;
}

#nav-main .all-books {
  margin-right: 335px;
}

#signin {
  border: 1px solid var(--third-color);
  width: 170px;
  height: 35px;
  text-align: center;
  margin-left: 290px;
}

#nav-main .my-dashboard {
  position: relative;
  right: 285px;
}

#nav-main .my-wishlist {
  position: relative;
  right: 245px;
  margin-right: -50px;
}

#footer {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 60px;
  background-color: var(--dark-color);
  justify-content: space-between;
  font-size: var(--font-size-xs);
  /* position: relative;
  top: 320px; */
  position: fixed;
  bottom: 0;
  color: var(--third-color);
  width: 100%;
}

#logo {
  width: 20px;
}

#toolbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#toolbar a {
  text-decoration: none;
  font-size: 25px;
  color: var(--dark-color);
  margin-bottom: 200px;
}

#nav-main img {
  width: 100px;
  position: relative;
  right: 280px;

}

