@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

body{
  background-color: #d9c8a0;
}


#nav-main {
  height: 101px;
  display: flex;
  align-items: center;
  padding-left: 280px;
  padding-right: 60px;
  background-color: #264653;
  justify-content: space-between;
}

#nav-main > a {
  color: #a37e5a;
  text-decoration: none;
}

#presentation-page {
  display: flex;
  height: 350px;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #d9c8a0;
}

.focus-in-expand {
	animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  font-size: 80px;
}

 @keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}


#sigin {
  border: 1px solid #a37e5a;
  width: 150px;
  height: 35px;
  text-align: center;
}


