@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: var(--black-color);
}

body{
  background-color: #d9c8a0;
}

#nav-main {
  height: 101px;
  display: flex;
  align-items: center;
  padding-left: 280px;
  padding-right: 60px;
  background-color: var(--dark-color);
  justify-content: space-between;

}

#nav-main > a {
  color: var(--third-color);
  text-decoration: none;
}
