<div id="how">
  <h1>How does it work ?</h1>
  <h3>How do I borrow a book?</h3>
  <p>In the navigation bar, click on “All books”. You will be able to browse all
    the books. You can also filter by availability, genre, author, or look for a
    specific title. You can then click on “borrow a book”. The owner (will
    receive a notification and) will deposit the book at the drop point within 3
    work days. You can keep the book for up to 2 months, and return it to the
    drop point.
  </p>
    <div class="separator">
    <img src="/images/pngwing.com.png" alt="separator">
    </div>
  <h3>What if the book I want is unavailable?</h3>
  <p>You may add the book to your wishlist. (When the book is available again,
    you will see a notification on your dashboard)
  </p>
  <div class="separator">
  <img src="/images/pngwing.com.png" alt="separator">
  </div>
  <h3>How do I lend my books?
</h3>
  <p>To manage your books, you can go to “My dashboard”, accessible from the
    navigation bar. In “My library”, you can add a book, edit your books or
    delete them if you no longer wish to lend them. You may look at all the
    books that are required or already lent in “My library”. When someone wishes
    to borrow one of your books, (you will receive a notification.) We ask that
    you deposit the book at the drop point within 3 work days.
  </p>
  <b>Important: </b><span>
    when someone returns a book to you, please make it available again! You can
    do this in “My library”.
  </span>
<div class="separator">
<img src="/images/pngwing.com.png" alt="separator">
</div>
</div>