<div id="presentation-page">
  <p class="focus-in-expand">Welcome to Bambook</p>
</div>
<div>

  <div id="banner">
     <div class="images">
         <a href="/all-books"><img src="/images/cienanos.jpeg" alt="cien años"></a>
    </div>
     <div class="images">
         <a  href="/all-books"></a><img src="/images/hellen-keller.jpg" alt="helen keller">
     </div>
     <div class="images">
         <a  href="/all-books"><img src="/images/le-petit-prince.jpeg" alt="lepetitprince"></a>
    </div>
     <div class="images">
         <a  href="/all-books"><img src="/images/les-miserables.jpeg" alt=" les miserables"></a>
         </div>
     <div class="images">
         <a href="/all-books"><img src="/images/noma.jpeg" alt="noma"></a>
         </div>
     <div class="images">
         <a  href="/all-books"><img src="/images/cucina.jpeg" alt="cucina"></a>
         </div>
  </div>