<div id="presentation-page">
  <p class="focus-in-expand">Welcome to Bambook</p>
</div>
<div>

  <div id="banner">
     <div class="images"><img src="/images/cienanos.jpeg" alt="cien años"></div>
     <div class="images"><img src="/images/hellen-keller.jpg" alt="helen keller"></div>
     <div class="images"><img src="/images/le-petit-prince.jpeg" alt="lepetitprince"></div>
     <div class="images"><img src="/images/les-miserables.jpeg" alt=" les miserables"></div>
     <div class="images"><img src="/images/noma.jpeg" alt="noma"></div>
     <div class="images"><img src="/images/cucina.jpeg" alt="cucina"></div>
  </div>